<a href="https://colab.research.google.com/github/LaraDondossola/Estatistica_aplicada/blob/main/lista001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

In [3]:
serie = Series([1, 2, 3, 4, 5])

serie2 = Series([10, 15, 20, 30, 25, 24, 25], index = ['domingo', 'segunda', 'terça', 'quarta', 'quinta', 'sexta', 'sábado'])

serie2

domingo    10
segunda    15
terça      20
quarta     30
quinta     25
sexta      24
sábado     25
dtype: int64